<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.user.nix-flake-startup</string>
    <key>ProgramArguments</key>
    <array>
      <string>/nix/var/nix/profiles/default/bin/nix</string>
      <string>run</string>
      <string>github:mahdikhashan/nixfiles#default</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/tmp/nix-flake-error.log</string>
    <key>StandardOutPath</key>
    <string>/tmp/nix-flake-output.log</string>
  </dict>
</plist>